* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@import url(https://fonts.googleapis.com/css?family=Inspiration:regular);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);

$color-primary: #d67d19;
$color-secondary: #532d01;
$font-one: 'Inspiration';
$font-two: 'Merriweather';

header {
    width: 100%;
    height: 100vh;
    background-image: url(pexels-valeria-boltneva-1484516.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 100%);

        .desktop-nav {
            display: flex;
            flex-direction: row;
            width: 80%;
            padding-top: 2rem;
            margin: 0 auto;
            height: 150px;
            justify-content: space-between;
            font-family: 'Merriweather';
            align-items: center;

            .nav-list {
                margin-top: 1rem;
                display: flex;
                width: 50%;

                ul {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-around;

                    li {
                        list-style: none;


                        a {
                            color: white;
                            text-decoration: none;
                            font-weight: bold;
                            border: none;
                            font-size: 1.2rem;
                            padding: 0.5rem;
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                border: 1px solid white;
                                text-decoration: double underline;
                            }
                        }

                        .reserva {
                            color: rgb(190, 149, 35);
                        }
                    }
                }
            }

            .social {
                ul {
                    display: flex;
                    flex-direction: row;
                }
            }

            .logo-container {
                width: 150px;
                height: 150px;

            }
        }

        .mobile-nav {
            display: none;

            a {

                img {
                    width: 50px;
                    height: auto;
                    transition: transform 0.3s ease-in-out;

                    &:hover {
                        transform: scaleX(1.1);
                    }
                }
            }

            .offcanvas {
                background-color: black;
                color: white;

                .offcanvas-body {
                    .menu-list {
                        ul {
                            &:nth-child(1) {
                                li {
                                    list-style: none;
                                    margin: 0.5rem;



                                    .reserva {
                                        color: #d67d19;
                                    }

                                    a {
                                        text-decoration: none;
                                        color: white;
                                        font-weight: bold;
                                        font-size: 1.3rem;
                                        font-family: $font-two;
                                        padding: 0.5rem;
                                        transition: all 0.3s ease-in-out;
                                        border: none;

                                        &:hover {
                                            border: 1px solid white;
                                            text-decoration: double underline;
                                        }

                                    }
                                }
                            }

                            &:nth-child(2) {
                                display: flex;
                                flex-direction: row;

                                li {
                                    list-style: none;

                                    a {
                                        img {
                                            transition: none;

                                            &:hover {
                                                transform: none;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    #inicio {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 80%;
        margin: 0 auto;

        .texto {
            display: flex;
            flex-direction: column;
            color: white;

            font-family: $font-one;
            width: 50%;

            h1 {
                font-weight: normal;
                font-size: 8rem;

            }

            h2 {
                font-weight: lighter;
                font-size: 6rem;
            }
        }

        .cta {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;

            .button-cta {
                font-family: $font-two;
                background-color: white;
                padding: 2rem;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: $color-primary;
                    color: white;

                    a {
                        border: double white;
                    }
                }

                &:nth-child(1) {
                    margin-bottom: 2rem;
                }



                a {
                    color: black;
                    text-decoration: none;
                    font-size: 2rem;
                    border: double $color-primary;
                    padding: 1rem;
                }
            }
        }
    }

}

#menu {
    width: 100%;
    min-height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: auto;

    .menu-container {
        width: 95%;
        margin: 2rem;
        border: double $color-primary;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow-x: hidden;
        height: auto;
        position: relative;

        .content {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 100%;
            justify-content: space-between;
            padding: 3rem;
            z-index: 1;


            h2 {
                font-family: $font-two;
                font-size: 3rem;
                font-weight: bold;
                margin-bottom: 2rem;
                color: $color-secondary;
            }

            .menu-display {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 5rem;

                .item {
                    display: flex;
                    flex-direction: column;
                    width: 350px;
                    padding-right: 0.5rem;
                    padding-bottom: 0.5rem;
                    align-items: center;
                    margin: 1rem;
                    border-radius: 10px;
                    border-bottom: 2px solid $color-primary;
                    border-right: 2px solid $color-primary;

                    &:hover {
                        background-color: #d67d19;
                    }

                    .title {
                        text-align: center;

                        p {
                            font-size: 3rem;
                            font-weight: 600;
                            font-family: $font-one;

                        }


                    }

                    .img {
                        display: flex;


                        img {
                            object-fit: contain;
                            width: 350px;
                            height: auto;
                            border-radius: 10px;
                        }


                    }
                }
            }
        }

        .decor {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 40%;
            display: flex;
            justify-content: flex-end;
            z-index: 0;

            img {
                width: 800px;
                height: auto;
            }
        }
    }
}

#testimonial {
    width: 100%;

    .screen {
        display: flex;

        #c-screen {
            .carousel-inner {
                height: 60vh;

                .carousel-item {

                    position: relative;
                    width: 100%;
                    background-color: black;

                    img {
                        width: 30%;
                        height: auto;
                    }

                    .texto {
                        position: absolute;

                        height: 100%;
                        top: 25%;
                        left: 40%;
                        width: 40%;
                        text-align: center;

                        q {

                            font-family: $font-two;
                            font-size: large;
                            color: white;

                        }

                        cite {
                            font-family: $font-one;
                            font-size: 3rem;
                            color: white;
                        }
                    }
                }
            }
        }

    }

    .mobile {
        display: none;

        #c-mobile {


            .carousel-inner {
                height: 70vh;

                .carousel-item {

                    position: relative;
                    width: 100%;
                    height: 70vh;
                    background-color: black;

                    img {
                        width: 60%;
                        height: auto;
                    }

                    .texto {
                        position: absolute;

                        height: 100%;
                        top: 25%;
                        left: 40%;
                        width: 50%;
                        text-align: center;

                        q {

                            font-family: $font-two;
                            font-size: large;
                            color: white;

                        }

                        cite {
                            font-family: $font-one;
                            font-size: 2rem;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

#reservas {
    width: 100%;
    min-height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: auto;

    .reservas-container {
        width: 95%;
        margin: 2rem;
        border: double $color-primary;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: hidden;
        align-items: center;
        height: auto;
        position: relative;

        .content {
            display: flex;
            flex-direction: column;
            min-width: 50%;
            height: 100%;

            padding: 3rem;
            z-index: 1;


            h2 {
                font-family: $font-two;
                font-size: 3rem;
                font-weight: bold;
                margin-bottom: 2rem;
                color: $color-secondary;
            }

            .calendar-container {
                margin-top: 4rem;
                width: 40%;
                margin-left: 10rem;

            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 50%;

            label {
                display: flex;
                flex-direction: column;
                font-family: $font-two;
                font-weight: 600;
                font-size: 1.1rem;
                color: $color-primary;
                margin: 0.5rem 0;

                img {
                    width: 30px;
                    height: auto;
                }

                input {
                    width: 30%;
                    border: none;
                    border-bottom: 1px solid $color-primary;
                }
            }

            button {
                width: 30%;
                border: double 0.5rem $color-secondary;

                background-color: white;
                color: $color-secondary;
                font-family: $font-two;
                font-size: 1.5rem;
                font-weight: 700;
                margin: 0.5rem 0;
                padding: 1rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #5d2502;
                    color: white;
                    border: double 0.5rem white;
                }
            }

        }
    }
}

footer {
    width: 100%;
    background-color: $color-primary;
    margin: 0;

    .footer-content {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 2rem;
        margin: 0 auto;
        padding-bottom: 2rem;
        align-items: center;
        justify-content: flex-start;

        .footer-logo {
            padding-right: 2rem;

            img {
                width: 100px;
                height: auto;
            }
        }

        .footer-menu {
            ul {
                li {
                    list-style: none;

                    a {
                        color: white;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .footer-social {
            margin-left: auto;

            ul {
                display: flex;
                flex-direction: row;


                li {
                    list-style: none;
                    margin: 0.5rem;


                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1300px) {
    header {
        #inicio {
            .texto {
                h1 {
                    font-size: 7rem;
                }

                h2 {
                    font-size: 4rem;
                }
            }
        }
    }

    #menu {
        width: 100%;
        min-height: 600px;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: auto;

        .menu-container {


            .content {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                justify-content: space-between;
                padding: 3rem;
                z-index: 1;


                h2 {
                    font-family: $font-two;
                    font-size: 3rem;
                    font-weight: bold;
                    margin-bottom: 2rem;
                    color: $color-secondary;
                }

                .menu-display {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-top: 5rem;

                    .item {
                        display: flex;
                        flex-direction: column;
                        width: 350px;
                        padding-right: 0.5rem;
                        padding-bottom: 0.5rem;
                        align-items: center;
                        margin: 1rem;
                        border-radius: 10px;
                        border-bottom: 2px solid $color-primary;
                        border-right: 2px solid $color-primary;

                        .title {
                            text-align: center;

                            p {
                                font-size: 3rem;
                                font-weight: 600;
                                font-family: $font-one;

                            }


                        }

                        .img {
                            display: flex;


                            img {
                                object-fit: contain;
                                width: 350px;
                                height: auto;
                                border-radius: 10px;
                            }


                        }
                    }
                }
            }

            .decor {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 40%;
                display: flex;
                justify-content: flex-end;
                z-index: 0;

                img {
                    width: 800px;
                    height: auto;
                }
            }
        }
    }

    #reservas {
        width: 100%;
        min-height: 600px;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: auto;

        .reservas-container {
            width: 95%;
            margin: 2rem;
            border: double $color-primary;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            overflow-x: hidden;
            align-items: center;
            height: auto;
            position: relative;

            .content {
                display: flex;
                flex-direction: column;
                min-width: 60%;
                height: 100%;

                padding: 3rem;
                z-index: 1;


                h2 {
                    font-family: $font-two;
                    font-size: 3rem;
                    font-weight: bold;
                    margin-bottom: 2rem;
                    color: $color-secondary;
                }

                .calendar-container {
                    margin-top: 4rem;
                    width: 50%;
                    margin-left: 10rem;

                }
            }

            form {
                display: flex;
                flex-direction: column;
                width: 40%;

                label {
                    display: flex;
                    flex-direction: column;
                    font-family: $font-two;
                    font-weight: 600;
                    font-size: 1.1rem;
                    color: $color-primary;
                    margin: 0.5rem 0;

                    img {
                        width: 30px;
                        height: auto;
                    }

                    input {
                        width: 30%;
                        border: none;
                        border-bottom: 1px solid $color-primary;
                    }
                }

                button {
                    width: 50%;
                    border: double 0.5rem $color-secondary;

                    background-color: white;
                    color: $color-secondary;
                    font-family: $font-two;
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin: 0.5rem 0;
                    padding: 1rem;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #5d2502;
                        color: white;
                        border: double 0.5rem white;
                    }
                }

            }
        }
    }
}

@media screen and (max-width:950px) {
    header {
        nav {
            width: 100%;
            display: flex;
            flex-direction: row;
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 100%);

            .desktop-nav {
                display: none;



            }

            .mobile-nav {
                display: flex;
            }
        }

        #inicio {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.3);

            .texto {
                display: flex;
                flex-direction: column;
                color: white;
                text-align: center;
                font-family: $font-one;
                width: 80%;

                h1 {
                    font-weight: normal;
                    font-size: 7rem;

                }

                h2 {
                    font-weight: lighter;
                    font-size: 3.5rem;
                }
            }

            .cta {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;

                .button-cta {
                    font-family: $font-two;
                    background-color: white;
                    padding: 0.9rem;
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                    transition: background-color 0.3s ease-in-out;

                    &:hover {
                        background-color: $color-primary;
                        color: white;

                        a {
                            border: double white;
                        }
                    }

                    &:nth-child(1) {
                        margin-bottom: 0;
                    }



                    a {
                        color: black;
                        text-decoration: none;
                        font-size: 0.9rem;
                        border: double $color-primary;
                        padding: 1rem;
                    }
                }
            }
        }
    }

    #menu {
        width: 100%;
        min-height: 600px;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: auto;

        .menu-container {
            margin: 1rem;

            .content {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                justify-content: space-between;
                padding: 3rem;
                z-index: 1;
                background-color: rgba(255, 254, 254, 0.3);


                h2 {
                    font-family: $font-two;
                    font-size: 3rem;
                    font-weight: bold;
                    margin-bottom: 2rem;
                    color: $color-secondary;
                }

                .menu-display {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-top: 5rem;
                    justify-content: space-around;

                    .item {
                        display: flex;
                        flex-direction: column;
                        width: 200px;
                        padding-right: 0.5rem;
                        padding-bottom: 0.5rem;
                        align-items: center;
                        margin: 1rem;
                        border-radius: 10px;
                        border-bottom: 2px solid $color-primary;
                        border-right: 2px solid $color-primary;

                        .title {
                            text-align: center;

                            p {
                                font-size: 3rem;
                                font-weight: 600;
                                font-family: $font-one;

                            }


                        }

                        .img {
                            display: flex;


                            img {
                                object-fit: contain;
                                width: 200px;
                                height: auto;
                                border-radius: 10px;
                            }


                        }
                    }
                }
            }

            .decor {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 40%;
                display: flex;
                justify-content: flex-end;
                z-index: 0;

                img {
                    width: 800px;
                    height: auto;
                }
            }
        }
    }

    #testimonial {
        width: 100%;

        .screen {
            display: none;

            #c-screen {


                .carousel-inner {
                    height: 60vh;

                    .carousel-item {

                        position: relative;
                        width: 100%;
                        background-color: black;

                        img {
                            width: 30%;
                            height: auto;
                        }

                        .texto {
                            position: absolute;

                            height: 100%;
                            top: 25%;
                            left: 40%;
                            width: 40%;
                            text-align: center;

                            q {

                                font-family: $font-two;
                                font-size: large;
                                color: white;

                            }

                            cite {
                                font-family: $font-one;
                                font-size: 3rem;
                                color: white;
                            }
                        }
                    }
                }
            }


        }

        .mobile {
            display: flex;


        }
    }

    #reservas {
        width: 100%;
        min-height: 600px;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: auto;

        .reservas-container {
            width: 95%;
            margin: 2rem;
            border: double $color-primary;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            overflow-x: hidden;
            align-items: center;
            height: auto;
            position: relative;

            .content {
                display: flex;
                flex-direction: column;
                min-width: 50%;
                height: 50%;

                padding: 3rem;
                z-index: 1;


                h2 {
                    font-family: $font-two;
                    font-size: 3rem;
                    font-weight: bold;
                    margin-bottom: 2rem;
                    color: $color-secondary;
                }

                .calendar-container {
                    margin-top: 4rem;
                    width: 100%;
                    margin-left: 1rem;

                }
            }

            form {
                display: flex;
                flex-direction: column;
                width: 60%;

                label {
                    display: flex;
                    flex-direction: column;
                    font-family: $font-two;
                    font-weight: 600;
                    font-size: 1.1rem;
                    color: $color-primary;
                    margin: 0.5rem 0;

                    img {
                        width: 30px;
                        height: auto;
                    }

                    input {
                        width: 30%;
                        border: none;
                        border-bottom: 1px solid $color-primary;
                    }
                }

                button {
                    width: 50%;
                    border: double 0.5rem $color-secondary;

                    background-color: white;
                    color: $color-secondary;
                    font-family: $font-two;
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin: 0.5rem 0;
                    padding: 1rem;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #5d2502;
                        color: white;
                        border: double 0.5rem white;
                    }
                }

            }
        }
    }
}

@media screen and (max-width:500px) {
    #reservas {
        width: 100%;
        min-height: 600px;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: auto;

        .reservas-container {
            width: 95%;
            margin: 1rem;
            border: double $color-primary;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-x: hidden;
            align-items: center;
            height: auto;
            position: relative;

            .content {
                display: flex;
                flex-direction: column;
                min-width: 50%;
                height: 100%;

                padding: 1rem;
                z-index: 1;


                h2 {
                    font-family: $font-two;
                    font-size: 3rem;
                    font-weight: bold;
                    margin-bottom: 2rem;
                    color: $color-secondary;
                }

                .calendar-container {
                    margin-top: 4rem;
                    width: 100%;
                    margin-left: 1rem;

                }
            }

            form {
                display: flex;
                flex-direction: column;
                width: 60%;
                height: 50%;

                label {
                    display: flex;
                    flex-direction: column;
                    font-family: $font-two;
                    font-weight: 600;
                    font-size: 1.1rem;
                    color: $color-primary;
                    margin: 0.5rem 0;

                    img {
                        width: 30px;
                        height: auto;
                    }

                    input {
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid $color-primary;
                    }
                }

                button {
                    width: 100%;
                    border: double 0.5rem $color-secondary;

                    background-color: white;
                    color: $color-secondary;
                    font-family: $font-two;
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin: 0.5rem 0;
                    padding: 1rem;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #5d2502;
                        color: white;
                        border: double 0.5rem white;
                    }
                }

            }
        }
    }

    footer {
        width: 100%;
        background-color: $color-primary;
        margin: 0;

        .footer-content {
            width: 80%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-top: 2rem;
            margin: 0 auto;
            padding-bottom: 2rem;
            align-items: flex-start;
            justify-content: flex-start;

            .footer-logo {
                padding-right: 2rem;

                img {
                    width: 100px;
                    height: auto;
                }
            }

            .footer-menu {
                ul {
                    li {
                        list-style: none;

                        a {
                            color: white;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .footer-social {
                margin-left: 0;
                margin-right: auto;

                ul {
                    display: flex;
                    flex-direction: row;


                    li {
                        list-style: none;
                        margin: 0.5rem;


                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    #testimonial {
        width: 100%;

        .screen {
            display: none;

            #c-screen {


                .carousel-inner {
                    height: 60vh;

                    .carousel-item {

                        position: relative;
                        width: 100%;
                        background-color: black;

                        img {
                            width: 30%;
                            height: auto;
                        }

                        .texto {
                            position: absolute;

                            height: 100%;
                            top: 25%;
                            left: 40%;
                            width: 40%;
                            text-align: center;

                            q {

                                font-family: $font-two;
                                font-size: large;
                                color: white;

                            }

                            cite {
                                font-family: $font-one;
                                font-size: 3rem;
                                color: white;
                            }
                        }
                    }
                }
            }


        }

        .mobile {
            display: flex;

            #c-mobile {


                .carousel-inner {
                    height: auto;

                    .carousel-item {

                        position: relative;
                        width: 100%;
                        height: auto;
                        background-color: black;

                        img {
                            width: 100%;
                            height: auto;
                        }

                        .texto {
                            position: absolute;
                            background-color: rgba(0, 0, 0, 0.3);
                            height: 100%;
                            top: 0;
                            left: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: 100%;
                            text-align: center;

                            q {

                                font-family: $font-two;
                                font-size: large;
                                color: white;

                            }

                            cite {
                                font-family: $font-one;
                                font-size: 2rem;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    header {
        nav {
            width: 100%;
            display: flex;
            flex-direction: row;
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 100%);

            .desktop-nav {
                display: none;



            }

            .mobile-nav {
                display: flex;
            }
        }

        #inicio {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin: auto auto;
            background-color: rgba(0, 0, 0, 0.3);

            .texto {
                display: flex;
                flex-direction: column;
                color: white;
                text-align: center;
                font-family: $font-one;
                width: 100%;
                height: 60%;

                h1 {
                    font-weight: normal;
                    font-size: 4.5rem;

                }

                h2 {
                    font-weight: lighter;
                    font-size: 2rem;
                }
            }

            .cta {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;

                .button-cta {
                    font-family: $font-two;
                    background-color: white;
                    padding: 0.9rem;
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                    transition: background-color 0.3s ease-in-out;

                    &:hover {
                        background-color: $color-primary;
                        color: white;

                        a {
                            border: double white;
                        }
                    }

                    &:nth-child(1) {
                        margin-bottom: 0;
                    }



                    a {
                        color: black;
                        text-decoration: none;
                        font-size: 0.9rem;
                        border: double $color-primary;
                        padding: 1rem;
                    }
                }
            }
        }
    }

}