@import url(https://fonts.googleapis.com/css?family=Inspiration:regular);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(pexels-valeria-boltneva-1484516.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 212, 255, 0)));
  background: linear-gradient(180deg, black 0%, rgba(0, 212, 255, 0) 100%);
}

header nav .desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  padding-top: 2rem;
  margin: 0 auto;
  height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Merriweather';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .desktop-nav .nav-list {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

header nav .desktop-nav .nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav .desktop-nav .nav-list ul li {
  list-style: none;
}

header nav .desktop-nav .nav-list ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header nav .desktop-nav .nav-list ul li a:hover {
  border: 1px solid white;
  -webkit-text-decoration: double underline;
          text-decoration: double underline;
}

header nav .desktop-nav .nav-list ul li .reserva {
  color: #be9523;
}

header nav .desktop-nav .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .desktop-nav .logo-container {
  width: 150px;
  height: 150px;
}

header nav .mobile-nav {
  display: none;
}

header nav .mobile-nav a img {
  width: 50px;
  height: auto;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

header nav .mobile-nav a img:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

header nav .mobile-nav .offcanvas {
  background-color: black;
  color: white;
}

header nav .mobile-nav .offcanvas .offcanvas-body .menu-list ul:nth-child(1) li {
  list-style: none;
  margin: 0.5rem;
}

header nav .mobile-nav .offcanvas .offcanvas-body .menu-list ul:nth-child(1) li .reserva {
  color: #d67d19;
}

header nav .mobile-nav .offcanvas .offcanvas-body .menu-list ul:nth-child(1) li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: "Merriweather";
  padding: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
}

header nav .mobile-nav .offcanvas .offcanvas-body .menu-list ul:nth-child(1) li a:hover {
  border: 1px solid white;
  -webkit-text-decoration: double underline;
          text-decoration: double underline;
}

header nav .mobile-nav .offcanvas .offcanvas-body .menu-list ul:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .mobile-nav .offcanvas .offcanvas-body .menu-list ul:nth-child(2) li {
  list-style: none;
}

header nav .mobile-nav .offcanvas .offcanvas-body .menu-list ul:nth-child(2) li a img {
  -webkit-transition: none;
  transition: none;
}

header nav .mobile-nav .offcanvas .offcanvas-body .menu-list ul:nth-child(2) li a img:hover {
  -webkit-transform: none;
          transform: none;
}

header #inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

header #inicio .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: "Inspiration";
  width: 50%;
}

header #inicio .texto h1 {
  font-weight: normal;
  font-size: 8rem;
}

header #inicio .texto h2 {
  font-weight: lighter;
  font-size: 6rem;
}

header #inicio .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

header #inicio .cta .button-cta {
  font-family: "Merriweather";
  background-color: white;
  padding: 2rem;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

header #inicio .cta .button-cta:hover {
  background-color: #d67d19;
  color: white;
}

header #inicio .cta .button-cta:hover a {
  border: double white;
}

header #inicio .cta .button-cta:nth-child(1) {
  margin-bottom: 2rem;
}

header #inicio .cta .button-cta a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  border: double #d67d19;
  padding: 1rem;
}

#menu {
  width: 100%;
  min-height: 600px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

#menu .menu-container {
  width: 95%;
  margin: 2rem;
  border: double #d67d19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
  height: auto;
  position: relative;
}

#menu .menu-container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem;
  z-index: 1;
}

#menu .menu-container .content h2 {
  font-family: "Merriweather";
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #5d2502;
}

#menu .menu-container .content .menu-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5rem;
}

#menu .menu-container .content .menu-display .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  border-radius: 10px;
  border-bottom: 2px solid #d67d19;
  border-right: 2px solid #d67d19;
}

#menu .menu-container .content .menu-display .item:hover {
  background-color: #d67d19;
}

#menu .menu-container .content .menu-display .item .title {
  text-align: center;
}

#menu .menu-container .content .menu-display .item .title p {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Inspiration";
}

#menu .menu-container .content .menu-display .item .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu .menu-container .content .menu-display .item .img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 350px;
  height: auto;
  border-radius: 10px;
}

#menu .menu-container .decor {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 0;
}

#menu .menu-container .decor img {
  width: 800px;
  height: auto;
}

#testimonial {
  width: 100%;
}

#testimonial .screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#testimonial .screen #c-screen .carousel-inner {
  height: 60vh;
}

#testimonial .screen #c-screen .carousel-inner .carousel-item {
  position: relative;
  width: 100%;
  background-color: black;
}

#testimonial .screen #c-screen .carousel-inner .carousel-item img {
  width: 30%;
  height: auto;
}

#testimonial .screen #c-screen .carousel-inner .carousel-item .texto {
  position: absolute;
  height: 100%;
  top: 25%;
  left: 40%;
  width: 40%;
  text-align: center;
}

#testimonial .screen #c-screen .carousel-inner .carousel-item .texto q {
  font-family: "Merriweather";
  font-size: large;
  color: white;
}

#testimonial .screen #c-screen .carousel-inner .carousel-item .texto cite {
  font-family: "Inspiration";
  font-size: 3rem;
  color: white;
}

#testimonial .mobile {
  display: none;
}

#testimonial .mobile #c-mobile .carousel-inner {
  height: 70vh;
}

#testimonial .mobile #c-mobile .carousel-inner .carousel-item {
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: black;
}

#testimonial .mobile #c-mobile .carousel-inner .carousel-item img {
  width: 60%;
  height: auto;
}

#testimonial .mobile #c-mobile .carousel-inner .carousel-item .texto {
  position: absolute;
  height: 100%;
  top: 25%;
  left: 40%;
  width: 50%;
  text-align: center;
}

#testimonial .mobile #c-mobile .carousel-inner .carousel-item .texto q {
  font-family: "Merriweather";
  font-size: large;
  color: white;
}

#testimonial .mobile #c-mobile .carousel-inner .carousel-item .texto cite {
  font-family: "Inspiration";
  font-size: 2rem;
  color: white;
}

#reservas {
  width: 100%;
  min-height: 600px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

#reservas .reservas-container {
  width: 95%;
  margin: 2rem;
  border: double #d67d19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  position: relative;
}

#reservas .reservas-container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 50%;
  height: 100%;
  padding: 3rem;
  z-index: 1;
}

#reservas .reservas-container .content h2 {
  font-family: "Merriweather";
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #5d2502;
}

#reservas .reservas-container .content .calendar-container {
  margin-top: 4rem;
  width: 40%;
  margin-left: 10rem;
}

#reservas .reservas-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

#reservas .reservas-container form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Merriweather";
  font-weight: 600;
  font-size: 1.1rem;
  color: #d67d19;
  margin: 0.5rem 0;
}

#reservas .reservas-container form label img {
  width: 30px;
  height: auto;
}

#reservas .reservas-container form label input {
  width: 30%;
  border: none;
  border-bottom: 1px solid #d67d19;
}

#reservas .reservas-container form button {
  width: 30%;
  border: double 0.5rem #5d2502;
  background-color: white;
  color: #5d2502;
  font-family: "Merriweather";
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0;
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#reservas .reservas-container form button:hover {
  background-color: #5d2502;
  color: white;
  border: double 0.5rem white;
}

footer {
  width: 100%;
  background-color: #d67d19;
  margin: 0;
}

footer .footer-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .footer-content .footer-logo {
  padding-right: 2rem;
}

footer .footer-content .footer-logo img {
  width: 100px;
  height: auto;
}

footer .footer-content .footer-menu ul li {
  list-style: none;
}

footer .footer-content .footer-menu ul li a {
  color: white;
  text-decoration: none;
}

footer .footer-content .footer-menu ul li a:hover {
  text-decoration: underline;
}

footer .footer-content .footer-social {
  margin-left: auto;
}

footer .footer-content .footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-content .footer-social ul li {
  list-style: none;
  margin: 0.5rem;
}

footer .footer-content .footer-social ul li a {
  color: white;
}

@media screen and (max-width: 1300px) {
  header #inicio .texto h1 {
    font-size: 7rem;
  }
  header #inicio .texto h2 {
    font-size: 4rem;
  }
  #menu {
    width: 100%;
    min-height: 600px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  #menu .menu-container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem;
    z-index: 1;
  }
  #menu .menu-container .content h2 {
    font-family: "Merriweather";
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #5d2502;
  }
  #menu .menu-container .content .menu-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 5rem;
  }
  #menu .menu-container .content .menu-display .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 350px;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
    border-radius: 10px;
    border-bottom: 2px solid #d67d19;
    border-right: 2px solid #d67d19;
  }
  #menu .menu-container .content .menu-display .item .title {
    text-align: center;
  }
  #menu .menu-container .content .menu-display .item .title p {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Inspiration";
  }
  #menu .menu-container .content .menu-display .item .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #menu .menu-container .content .menu-display .item .img img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 350px;
    height: auto;
    border-radius: 10px;
  }
  #menu .menu-container .decor {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 0;
  }
  #menu .menu-container .decor img {
    width: 800px;
    height: auto;
  }
  #reservas {
    width: 100%;
    min-height: 600px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  #reservas .reservas-container {
    width: 95%;
    margin: 2rem;
    border: double #d67d19;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-x: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    position: relative;
  }
  #reservas .reservas-container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 60%;
    height: 100%;
    padding: 3rem;
    z-index: 1;
  }
  #reservas .reservas-container .content h2 {
    font-family: "Merriweather";
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #5d2502;
  }
  #reservas .reservas-container .content .calendar-container {
    margin-top: 4rem;
    width: 50%;
    margin-left: 10rem;
  }
  #reservas .reservas-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
  }
  #reservas .reservas-container form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Merriweather";
    font-weight: 600;
    font-size: 1.1rem;
    color: #d67d19;
    margin: 0.5rem 0;
  }
  #reservas .reservas-container form label img {
    width: 30px;
    height: auto;
  }
  #reservas .reservas-container form label input {
    width: 30%;
    border: none;
    border-bottom: 1px solid #d67d19;
  }
  #reservas .reservas-container form button {
    width: 50%;
    border: double 0.5rem #5d2502;
    background-color: white;
    color: #5d2502;
    font-family: "Merriweather";
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem 0;
    padding: 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #reservas .reservas-container form button:hover {
    background-color: #5d2502;
    color: white;
    border: double 0.5rem white;
  }
}

@media screen and (max-width: 950px) {
  header nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: black;
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 212, 255, 0)));
    background: linear-gradient(180deg, black 0%, rgba(0, 212, 255, 0) 100%);
  }
  header nav .desktop-nav {
    display: none;
  }
  header nav .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header #inicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
  }
  header #inicio .texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    text-align: center;
    font-family: "Inspiration";
    width: 80%;
  }
  header #inicio .texto h1 {
    font-weight: normal;
    font-size: 7rem;
  }
  header #inicio .texto h2 {
    font-weight: lighter;
    font-size: 3.5rem;
  }
  header #inicio .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header #inicio .cta .button-cta {
    font-family: "Merriweather";
    background-color: white;
    padding: 0.9rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  header #inicio .cta .button-cta:hover {
    background-color: #d67d19;
    color: white;
  }
  header #inicio .cta .button-cta:hover a {
    border: double white;
  }
  header #inicio .cta .button-cta:nth-child(1) {
    margin-bottom: 0;
  }
  header #inicio .cta .button-cta a {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    border: double #d67d19;
    padding: 1rem;
  }
  #menu {
    width: 100%;
    min-height: 600px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  #menu .menu-container {
    margin: 1rem;
  }
  #menu .menu-container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem;
    z-index: 1;
    background-color: rgba(255, 254, 254, 0.3);
  }
  #menu .menu-container .content h2 {
    font-family: "Merriweather";
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #5d2502;
  }
  #menu .menu-container .content .menu-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 5rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #menu .menu-container .content .menu-display .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
    border-radius: 10px;
    border-bottom: 2px solid #d67d19;
    border-right: 2px solid #d67d19;
  }
  #menu .menu-container .content .menu-display .item .title {
    text-align: center;
  }
  #menu .menu-container .content .menu-display .item .title p {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Inspiration";
  }
  #menu .menu-container .content .menu-display .item .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #menu .menu-container .content .menu-display .item .img img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
  #menu .menu-container .decor {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 0;
  }
  #menu .menu-container .decor img {
    width: 800px;
    height: auto;
  }
  #testimonial {
    width: 100%;
  }
  #testimonial .screen {
    display: none;
  }
  #testimonial .screen #c-screen .carousel-inner {
    height: 60vh;
  }
  #testimonial .screen #c-screen .carousel-inner .carousel-item {
    position: relative;
    width: 100%;
    background-color: black;
  }
  #testimonial .screen #c-screen .carousel-inner .carousel-item img {
    width: 30%;
    height: auto;
  }
  #testimonial .screen #c-screen .carousel-inner .carousel-item .texto {
    position: absolute;
    height: 100%;
    top: 25%;
    left: 40%;
    width: 40%;
    text-align: center;
  }
  #testimonial .screen #c-screen .carousel-inner .carousel-item .texto q {
    font-family: "Merriweather";
    font-size: large;
    color: white;
  }
  #testimonial .screen #c-screen .carousel-inner .carousel-item .texto cite {
    font-family: "Inspiration";
    font-size: 3rem;
    color: white;
  }
  #testimonial .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #reservas {
    width: 100%;
    min-height: 600px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  #reservas .reservas-container {
    width: 95%;
    margin: 2rem;
    border: double #d67d19;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-x: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    position: relative;
  }
  #reservas .reservas-container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 50%;
    height: 50%;
    padding: 3rem;
    z-index: 1;
  }
  #reservas .reservas-container .content h2 {
    font-family: "Merriweather";
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #5d2502;
  }
  #reservas .reservas-container .content .calendar-container {
    margin-top: 4rem;
    width: 100%;
    margin-left: 1rem;
  }
  #reservas .reservas-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
  }
  #reservas .reservas-container form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Merriweather";
    font-weight: 600;
    font-size: 1.1rem;
    color: #d67d19;
    margin: 0.5rem 0;
  }
  #reservas .reservas-container form label img {
    width: 30px;
    height: auto;
  }
  #reservas .reservas-container form label input {
    width: 30%;
    border: none;
    border-bottom: 1px solid #d67d19;
  }
  #reservas .reservas-container form button {
    width: 50%;
    border: double 0.5rem #5d2502;
    background-color: white;
    color: #5d2502;
    font-family: "Merriweather";
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem 0;
    padding: 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #reservas .reservas-container form button:hover {
    background-color: #5d2502;
    color: white;
    border: double 0.5rem white;
  }
}

@media screen and (max-width: 500px) {
  #reservas {
    width: 100%;
    min-height: 600px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  #reservas .reservas-container {
    width: 95%;
    margin: 1rem;
    border: double #d67d19;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-x: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    position: relative;
  }
  #reservas .reservas-container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 50%;
    height: 100%;
    padding: 1rem;
    z-index: 1;
  }
  #reservas .reservas-container .content h2 {
    font-family: "Merriweather";
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #5d2502;
  }
  #reservas .reservas-container .content .calendar-container {
    margin-top: 4rem;
    width: 100%;
    margin-left: 1rem;
  }
  #reservas .reservas-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    height: 50%;
  }
  #reservas .reservas-container form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Merriweather";
    font-weight: 600;
    font-size: 1.1rem;
    color: #d67d19;
    margin: 0.5rem 0;
  }
  #reservas .reservas-container form label img {
    width: 30px;
    height: auto;
  }
  #reservas .reservas-container form label input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d67d19;
  }
  #reservas .reservas-container form button {
    width: 100%;
    border: double 0.5rem #5d2502;
    background-color: white;
    color: #5d2502;
    font-family: "Merriweather";
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem 0;
    padding: 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #reservas .reservas-container form button:hover {
    background-color: #5d2502;
    color: white;
    border: double 0.5rem white;
  }
  footer {
    width: 100%;
    background-color: #d67d19;
    margin: 0;
  }
  footer .footer-content {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 2rem;
    margin: 0 auto;
    padding-bottom: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer-content .footer-logo {
    padding-right: 2rem;
  }
  footer .footer-content .footer-logo img {
    width: 100px;
    height: auto;
  }
  footer .footer-content .footer-menu ul li {
    list-style: none;
  }
  footer .footer-content .footer-menu ul li a {
    color: white;
    text-decoration: none;
  }
  footer .footer-content .footer-menu ul li a:hover {
    text-decoration: underline;
  }
  footer .footer-content .footer-social {
    margin-left: auto;
  }
  footer .footer-content .footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer-content .footer-social ul li {
    list-style: none;
    margin: 0.5rem;
  }
  footer .footer-content .footer-social ul li a {
    color: white;
  }
  #testimonial {
    width: 100%;
  }
  #testimonial .screen {
    display: none;
  }
  #testimonial .screen #c-screen .carousel-inner {
    height: 60vh;
  }
  #testimonial .screen #c-screen .carousel-inner .carousel-item {
    position: relative;
    width: 100%;
    background-color: black;
  }
  #testimonial .screen #c-screen .carousel-inner .carousel-item img {
    width: 30%;
    height: auto;
  }
  #testimonial .screen #c-screen .carousel-inner .carousel-item .texto {
    position: absolute;
    height: 100%;
    top: 25%;
    left: 40%;
    width: 40%;
    text-align: center;
  }
  #testimonial .screen #c-screen .carousel-inner .carousel-item .texto q {
    font-family: "Merriweather";
    font-size: large;
    color: white;
  }
  #testimonial .screen #c-screen .carousel-inner .carousel-item .texto cite {
    font-family: "Inspiration";
    font-size: 3rem;
    color: white;
  }
  #testimonial .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #testimonial .mobile #c-mobile .carousel-inner {
    height: 100vh;
  }
  #testimonial .mobile #c-mobile .carousel-inner .carousel-item {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
  }
  #testimonial .mobile #c-mobile .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
  }
  #testimonial .mobile #c-mobile .carousel-inner .carousel-item .texto {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    text-align: center;
  }
  #testimonial .mobile #c-mobile .carousel-inner .carousel-item .texto q {
    font-family: "Merriweather";
    font-size: large;
    color: white;
  }
  #testimonial .mobile #c-mobile .carousel-inner .carousel-item .texto cite {
    font-family: "Inspiration";
    font-size: 2rem;
    color: white;
  }
  header nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: black;
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 212, 255, 0)));
    background: linear-gradient(180deg, black 0%, rgba(0, 212, 255, 0) 100%);
  }
  header nav .desktop-nav {
    display: none;
  }
  header nav .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header #inicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
  }
  header #inicio .texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    text-align: center;
    font-family: "Inspiration";
    width: 100%;
    height: 80%;
  }
  header #inicio .texto h1 {
    font-weight: normal;
    font-size: 4.5rem;
  }
  header #inicio .texto h2 {
    font-weight: lighter;
    font-size: 2rem;
  }
  header #inicio .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header #inicio .cta .button-cta {
    font-family: "Merriweather";
    background-color: white;
    padding: 0.9rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  header #inicio .cta .button-cta:hover {
    background-color: #d67d19;
    color: white;
  }
  header #inicio .cta .button-cta:hover a {
    border: double white;
  }
  header #inicio .cta .button-cta:nth-child(1) {
    margin-bottom: 0;
  }
  header #inicio .cta .button-cta a {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    border: double #d67d19;
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */